body {
  background-color: #222;
  font-family: monospace;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: clamp(320px, 50%, 500px);
}

.progress_line {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 5px;
  width: 0%;
  background-color: teal;
  z-index: -1;
}

.active {
  background-color: teal;
}
